<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CC34A13195AF11C0019977D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC34A1D195AF11C0019977D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC7137B1950727400E42E34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC7138D1950727400E42E34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
